<div class="dialog" role="dialog" aria-modal="true" aria-label="Выберите дату">
  <div class="header">
    <label class="month-year-switcher">
      <h2 class="month-year" aria-live="polite">Февраль 2026</h2>
      <button class="expand-arrow">
        <svg>
          <use href="./expand-arrow.svg#arrow"></use>
        </svg>
      </button>
    </label>

    <div class="month-switchers">
      <button class="prev-month">
        <svg>
          <use href="./arrow.svg#arrow"></use>
        </svg>
      </button>

      <button class="next-month">
        <svg>
          <use href="./arrow.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>

  <table role="grid">
    <thead>
      <tr>
        <th scope="col">Пн</th>
        <th scope="col">Вт</th>
        <th scope="col">Ср</th>
        <th scope="col">ЧТ</th>
        <th scope="col">Пт</th>
        <th scope="col">Сб</th>
        <th scope="col">Вс</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

</div>