<div class="dialog" role="dialog" aria-modal="true" aria-label="Выберите дату">
  <div class="header">
    <h2 class="month-year" aria-live="polite">Февраль 2026</h2>

    <button class="expand-arrow">
      <svg>
        <use href="./expand-arrow.svg#arrow"></use>
      </svg>
    </button>

    <div class="month-switchers">
      <button class="prev-month">
        <svg>
          <use href="./arrow.svg#arrow"></use>
        </svg>
      </button>

      <button class="next-month">
        <svg>
          <use href="./arrow.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>

  <table role="grid">
    <thead>
      <tr>
        <th scope="col">ПН</th>
        <th scope="col">ВТ</th>
        <th scope="col">СР</th>
        <th scope="col">ЧТ</th>
        <th scope="col">ПТ</th>
        <th scope="col">СБ</th>
        <th scope="col">ВС</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>26</td>
        <td>27</td>
        <td>28</td>
        <td>29</td>
        <td>30</td>
        <td>31</td>
        <td>01</td>
      </tr>
      <tr>
        <td>02</td>
        <td>03</td>
        <td>04</td>
        <td>05</td>
        <td>06</td>
        <td>07</td>
        <td>08</td>
      </tr>
      <tr>
        <td>03</td>
        <td>05</td>
        <td>06</td>
        <td>07</td>
        <td>08</td>
        <td>09</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>

</div>