custom-autocomplete {
  display: block;
  position: relative;

  input {
    display: block;
    padding: 8px;
    font-size: 16px;
    width: 100%
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: green;
    position: absolute;
    width: 100%;
    display: none;
  }

  li {
    text-align: left;
    cursor: pointer;
    padding: 8px;

    &.selected {
      background-color: orange;
    }
  }

  /* hovering and selecting by keyboard */
  ul:has(li.keyboard-focused) {
    li:hover:not(.keyboard-focused) {
      background-color: unset;
    }
  }

  li:hover,
  li.keyboard-focused {
    background-color: red;
  }
}

custom-autocomplete.expanded {
  ul {
    display: block;
  }
}